{% load i18n static %}

<header
  class="sticky top-0 z-999 flex w-full bg-white drop-shadow-1 dark:bg-boxdark dark:drop-shadow-none"
>
  <div
    class="flex flex-grow items-center justify-between px-4 py-4 shadow-2 md:px-6 2xl:px-11"
  >
    <div>
      <a class="navbar-brand fw-bolder" href="/">
        <img src="{% static 'images/logo.png' %}" style="max-width: 100px" />
      </a>
    </div>

    <div class="flex items-center gap-8 2xsm:gap-7 text-sm font-bold">
      {% if user.is_authenticated %}
        {% if user.is_genlab_staff %}
          <div class="">
            <i class="fas fa-wrench"></i>
            <a href="{% url 'staff:dashboard' %}">Staff</a>
          </div>
        {% endif %}
        {% include 'core/partials/app-dropdown.html' %}
        {% include 'core/partials/project-dropdown.html' %}
        {% include 'core/partials/user-dropdown.html' %}
      {% else %}
        <a href="{% url 'account_login' %}">Login</a>
      {% endif %}
    </div>
  </div>
</header>
