{% extends "base.html" %}

{% block main %}
<main class="grid grid-cols-6">
    <div class="px-2 py-2 min-w-72 bg-white">
        <h5 class="font-bold text-xl">Menu</h5>
        <ul class="flex flex-col gap-2 mt-2 text-lg px-4">
            <li><a href="{% url 'staff:dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'staff:order-analysis-list' %}">Analysis Orders</a></li>
            <li><a href="{% url 'staff:order-equipment-list' %}">Equipment Orders</a></li>
            <li><a href="{% url 'staff:plates-list' %}">Plates</a></li>
        </ul>
    </div>
    <div class="p-4 md:p-6 2xl:p-10 col-span-5">
      {% if messages %}
        {% for message in messages %}
          <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" x-data="{ show: true }" x-show="show">
            <div>
            {{ message }}
            </div>
            <div>
            <button type="button"
                    class=""
                    @click.prevent="show = false"
                    aria-label="Close">
                  <i class="fas fa-times"></i></button>
            </div>
          </div>
        {% endfor %}
      {% endif %}

      {% block content %}
      {% endblock content %}
    </main>
{% endblock %}
