{% load crispy_forms_tags static %}

<form method="get" class="py-3 px-4 border mb-3">
  <div class="mb-2">
    <span class="text-xl">Filters</span>
  </div>
  <div class="flex flex-wrap gap-4">
    {{ filter.form|crispy }}
    <div class="flex items-center gap-2">
      <button class="btn btn-sm btn-primary" type="submit">
        <i class="fa-solid fa-filter"></i>
        Apply filters
      </button>
      <a href="{{ request.path }}" class="btn btn-sm btn-tertiary">Clear all</a>
    </div>
  </div>
</form>
