<div class="flex items-center w-full min-w-0 mb-5">
  <div role="tablist" class="tabs">
    <a role="tab" class="tab {% if active_tab == 'ordered' %}tab-active{% endif %}" href="{% url 'staff:order-extraction-samples' pk=order.id %}">Ordered extraction</a>
    <a role="tab" class="tab {% if active_tab == 'lab' %}tab-active{% endif %}" href="{% url 'staff:order-extraction-samples-lab' pk=order.id %}">Lab extraction</a>
  </div>
  <a class="btn btn-secondary ml-auto" href="{% url 'samples-csv' %}?order={{ order.pk }}"><i class="fas fa-download"></i> Export complete sheet</a>
</div>
