<div class="flex gap-2">
    <a href="{% url 'staff:extraction-plates-detail' pk=record.pk %}" class="btn btn-xs btn-primary">
        <i class="fas fa-eye"></i> View
    </a>
    <a href="{% url 'staff:extraction-plates-update' pk=record.pk %}" class="btn btn-xs btn-secondary">
        <i class="fas fa-edit"></i> Edit
    </a>
    <a href="{% url 'staff:extraction-plates-positions' pk=record.pk %}" target="_blank" class="btn btn-xs btn-secondary">
        <i class="fas fa-table-cells"></i> Positions
    </a>
</div>
