{% extends "staff/base.html" %}
{% load i18n %}
{% load order_tags %}

{% block content %}
  {% if user.is_staff %}
    <div class="flex gap-5">
      <div class="ml-auto"></div>
      <a class="btn btn-sm btn-tertiary" href="{{ object.get_admin_samples_url }}"><i class="fa-solid fa-shield-halved"></i>Samples (admin)</a>
      <a class="btn btn-sm btn-tertiary" href="{{ object.get_admin_change_url }}"><i class="fa-solid fa-shield-halved"></i>Edit (admin)</a>
    </div>
  {% endif %}

    <h3 class="text-4xl mb-5">Order {{ object }}</h3>


    <div class="flex gap-5 my-5">

        {% responsible_staff_multiselect order=object %}

        <div class="ml-auto"></div>

        {% if object.status != object.OrderStatus.DRAFT %}
            {% url 'staff:order-to-draft' pk=object.id as to_draft_url %}
            {% action-button action=to_draft_url class="custom_order_button" submit_text="<i class='fa-solid fa-pen-to-square'></i> Convert to draft"|safe csrf_token=csrf_token %}
        {% endif %}

        {% if extraction_orders|length == 1 and not extraction_has_multiple_analysis_orders %}
            <a class="btn custom_order_button_blue" href="{% url 'staff:order-extraction-detail' pk=extraction_orders.first.id %}">Go to {{ extraction_orders.first }}</a>
        {% endif %}

        <a class="btn custom_order_button_dark_blue" href="{% url 'staff:order-analysis-samples' pk=object.id %}"><i class="fa-solid fa-vial"></i> Samples</a>

        {% if not object.is_seen %}
          <form method="post" action="{% url 'staff:mark-as-seen' pk=object.id %}">
            {% csrf_token %}
            <button class="btn bg-[#DFF7CA] border-[#93AD7D] hover:bg-[#C9EBB0] hover:border-[#7F996C] active:bg-[#B5DA9C] active:border-[#6B855B] text-nowrap" style="height: auto;" type="submit">
              <p><i class="fa-solid fa-circle-check"></i> Mark as seen</p>
            </button>
          </form>
        {% endif %}

    </div>

    <div class="grid grid-cols-1 xl:grid-cols-3 gap-8">
      {% analysis_order_detail_table order=object %}
      {% analysis_order_samples_detail_table order=object extraction_orders=extraction_order_sample_counts %}
      {% contact_detail_table order=object %}
    </div>
{% endblock %}
