{% extends "staff/base.html" %}
{% load crispy_forms_tags static %}
{% load render_table from django_tables2 %}

{% block content %}
    {% block page-upper %}{% endblock page-upper %}
    <h3 class="text-4xl mb-5">{% block page-title %}{% endblock page-title %}</h3>
    {% block page-inner %}{% endblock page-inner %}
{% endblock %}

{% block body_javascript %}
{{ block.super }}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ filter.form.media }}
<script>
    document.addEventListener('DOMContentLoaded', function () {
      const selectAll = document.getElementById('select-all-checkbox');
      if (selectAll) {
        selectAll.addEventListener('change', function () {
          const checkboxes = document.querySelectorAll('input[name="checked"]');
          checkboxes.forEach(cb => {
            cb.checked = selectAll.checked;
          });
        });
      }
    });
</script>
{% endblock body_javascript %}
