{% extends "base.html" %}

{% block main %}
<main class="flex flex-col sm:flex-row">
    <div class="flex flex-col sm:w-56 p-5 flex-shrink-0 bg-white">
        <h5 class="font-bold text-xl">Menu</h5>
        <ul class="flex flex-col gap-2 mt-2 text-lg px-4">
            <li><a class="hover:underline" href="{% url 'staff:dashboard' %}">Dashboard</a></li>
            <li><a class="hover:underline" href="{% url 'staff:projects-list' %}">Projects</a></li>
            <li><a class="hover:underline" href="{% url 'staff:order-equipment-list' %}">Equipment Orders</a></li>
            <li><a class="hover:underline" href="{% url 'staff:order-extraction-list' %}">Extraction Orders</a></li>
            <li><a class="hover:underline" href="{% url 'staff:order-analysis-list' %}">Analysis Orders</a></li>
            <li><a class="hover:underline" href="{% url 'staff:samples-list' %}">Samples</a></li>
            <li><a class="hover:underline" href="{% url 'staff:plates-list' %}">Plates</a></li>
        </ul>
    </div>
    <div class="flex flex-col flex-1 p-5 overflow-x-scroll">
      {% if messages %}
        {% for message in messages %}
          <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" x-data="{ show: true }" x-show="show">
            <div>
            {{ message }}
            </div>
            <div>
            <button type="button"
                    class=""
                    @click.prevent="show = false"
                    aria-label="Close">
                  <i class="fas fa-times"></i></button>
            </div>
          </div>
        {% endfor %}
      {% endif %}

      {% block content %}
      {% endblock content %}
    </main>
{% endblock %}
