{% extends 'staff/base.html' %}
{% load i18n %}
{% load static %}

{% block head_javascript %}
  <script type="module" src="{% static 'js/staff/dashboard.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="flex items-center mb-5 gap-2">
    <h3 class="text-4xl">Dashboard</h3>

    <div class="flex items-center gap-2 ml-auto">
      <p id="dashboard__week"></p>
      <p id="dashboard__date"></p>
    </div>
  </div>

  {% if confirmed_orders|length > 0 %}
    <div class="rounded-md border bg-white p-4">
      <p class="text-2xl mb-4">Confirmed Orders</p>

      {% for order in confirmed_orders %}
        {% if order.polymorphic_ctype.model == 'analysisorder' %}
          <a class="hover:underline" href="{% url 'staff:order-analysis-detail' order.pk %}"><p>{{ order }} - {{ order.name }}</p></a>
        {% elif order.polymorphic_ctype.model == 'equipmentorder' %}
          <a class="hover:underline" href="{% url 'staff:order-equipment-detail' order.pk %}"><p>{{ order }} - {{ order.name }}</p></a>
        {% elif order.polymorphic_ctype.model == 'extractionorder' %}
          <a class="hover:underline" href="{% url 'staff:order-extraction-detail' order.pk %}"><p>{{ order }} - {{ order.name }}</p></a>
        {% else %}
          <p>{{ order }} - {{ order.name }}</p>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}

  {% if urgent_genrequests|length > 0 %}
    <div class="rounded-md border bg-white p-4">
      <h4 class="text-2xl mb-4">Urgent GenRequests</h4>

      {% for genrequest in urgent_genrequests %}
        <a class="hover:underline" href="{% url 'genrequest-detail' genrequest.pk %}"><p>{{ genrequest }} - {{ genrequest.project.name|default:'N/A' }}</p></a>
      {% endfor %}
    </div>
  {% else %}
    <div class="rounded-md border bg-white p-4">
      <h4 class="text-2xl mb-4">Urgent GenRequests</h4>
      <p>No urgent GenRequests found.</p>
    </div>
  {% endif %}
{% endblock %}
