{% extends 'staff/base.html' %}

{% load i18n %}
{% load static %}
{% load tz %}
{% load order_tags %}

{% block content %}
  <div class="flex items-center mb-5 gap-2">
    <div class="flex items-center bg-white rounded-xl border">
      <a data-active="{% if not request.GET.area %}true{% endif %}" href="{% url 'staff:dashboard' %}" class="px-4 py-2 rounded-xl data-[active='true']:bg-blue-400/40">All</a>
      {% for area in areas %}
        <a data-active="{% if request.GET.area == area.pk|stringformat:'s' %}true{% endif %}" href="{% url 'staff:dashboard' %}?area={{ area.pk }}" class="px-4 py-2 rounded-xl data-[active='true']:bg-blue-400/40">{{ area.name }}</a>
      {% endfor %}
    </div>

    <p class="flex items-center gap-2 ml-auto">
      <span>{{ now|date:'F j, Y' }}</span>
      <span>|</span>
      <span>Week {{ now|date:'W' }}</span>
    </p>
  </div>

  <div class="grid grid-cols-1 xl:grid-cols-2 gap-8">
    <div class="flex flex-col gap-8">
      {% urgent_orders_table area=area %}
      {% new_unseen_orders_table area=area %}
      {% new_seen_orders_table area=area %}
    </div>

    <div class="flex flex-col gap-8">
      {% assigned_orders_table %}

      {% if user.is_superuser %}
        {% draft_orders_table area=area %}
      {% endif %}
    </div>
  </div>
{% endblock %}
