{% extends "staff/base.html" %}
{% load i18n %}
{% load order_tags %}


{% block content %}
    {% fragment as table_header %}
    {% #table-cell header=True %}Equipment{% /table-cell %}
    {% #table-cell header=True %}Buffer/Volume{% /table-cell %}
    {% #table-cell header=True %}Qty{% /table-cell %}
    {% endfragment %}

    <h3 class="text-4xl mb-5">Order {{ object }}</h3>
    <div class="flex gap-5 mb-5">
        <a class="btn custom_order_button" href="{% url 'staff:order-equipment-list' %}"><i class="fas fa-arrow-left"></i> Back</a>
        {% responsible_staff_multiselect order=object %}
        <div class="ml-auto"></div>

        {% if not object.is_seen %}
            <form method="post" action="{% url 'staff:mark-as-seen' pk=object.id %}">
                {% csrf_token %}
                <button class="btn btn-sm bg-[#DFF7CA] border-[#93AD7D] hover:bg-[#C9EBB0] hover:border-[#7F996C] active:bg-[#B5DA9C] active:border-[#6B855B] text-nowrap" style="height: auto;" type="submit">
                    <p><i class="fa-solid fa-circle-check"></i> Mark as seen</p>
                </button>
            </form>
        {% endif %}

        {% if object.status == object.OrderStatus.DELIVERED %}
            {% url 'staff:order-to-next-status' pk=object.id as to_next_status_url %}
            {% with "<i class='fa-solid fa-arrow-right'></i> Set as "|add:object.next_status as btn_name %}
                {% action-button action=to_next_status_url class="bg-yellow-200 text-yellow-800 border border-yellow-700 hover:bg-yellow-300" submit_text=btn_name csrf_token=csrf_token %}
            {% endwith %}
        {% endif %}
        {% if object.status == object.OrderStatus.PROCESSING %}
            {% url 'staff:order-to-next-status' pk=object.id as to_next_status_url %}
            {% with "<i class='fa-solid fa-circle-check'></i> Set as "|add:object.next_status as btn_name %}
                {% action-button action=to_next_status_url class="custom_order_button_green" submit_text=btn_name csrf_token=csrf_token %}
            {% endwith %}
        {% endif %}
    </div>

    {% object-detail-staff object=object %}


    <h5 class="text-2xl my-5">Requested Equipment</h5>
    {% #table headers=table_header %}
        {% for oq in object.equipments.all %}
            <tr>
                {% #table-cell %}{{ oq.equipment.name }}{% /table-cell %}
                {% #table-cell %}{{ oq.buffer.name }} {{ oq.buffer_quantity}} {{ oq.buffer.unit }}{% /table-cell %}
                {% #table-cell %}{{ oq.quantity }}{% /table-cell %}
            </tr>
        {% empty %}
            <tr>
                <td colspan="3" class="text-center font-bold">No Equipment requested</td>
            </tr>
        {% endfor %}
    {% /table %}
{% endblock %}
