{% extends "staff/base_filter.html" %}
{% load crispy_forms_tags static %}
{% load render_table from django_tables2 %}

{% block page-title %}
Extraction plates
{% endblock page-title %}

{% block page-inner %}
<div class="flex justify-end my-3">
    <a class="btn bg-primary" href="{% url 'staff:plates-create' %}">Create</a>
</div>

<form method="get" class="py-3 px-4 border mb-3 ">
    <div class="flex flex-wrap gap-4">
        {{ filter.form | crispy }}
    </div>
    <button class="btn bg-primary" type="submit">Search</button>
</form>

{% render_table table %}
{% endblock page-inner %}
