{% extends "staff/base.html" %}
{% load i18n %}


{% block content %}
    {% fragment as table_header %}
    {% #table-cell header=True %}GUID{% /table-cell %}
    {% #table-cell header=True %}Type{% /table-cell %}
    {% #table-cell header=True %}Species{% /table-cell %}
    {% #table-cell header=True %}Markers{% /table-cell %}
    {% #table-cell header=True %}Location{% /table-cell %}
    {% #table-cell header=True %}Date{% /table-cell %}
    {% #table-cell header=True %}Volume{% /table-cell %}
    {% endfragment %}
    <h3 class="text-4xl mb-5">Order {{ object }}</h3>
    <div class="flex gap-5 mb-5">
    </div>

    {% object-detail object=object %}


    <h5 class="text-2xl my-5">Delivered Samples</h5>
    <div class="bg-white p-4">
        <p>{{ object.samples.count }} samples were delivered</p>
    </div>

    <div class="flex gap-5 my-5">
        <a class="btn bg-yellow-200" href="{% url 'staff:order-extraction-list' %}"><i class="fas fa-arrow-left"></i> back</a>
        <a class="btn bg-primary" href="{% url 'staff:order-extraction-samples' pk=object.id %}">Samples</a>
        <a class="btn bg-primary" href="{% url 'staff:order-add-staff' pk=object.id %}">Assign staff</a>

        <div class="ml-auto"></div>
        {% if object.status == object.OrderStatus.DELIVERED %}
            {% url 'staff:order-manually-checked' pk=object.id as confirm_check_url %}
            
            {% action-button action=confirm_check_url class="bg-secondary text-white" submit_text="Confirm - Order checked" csrf_token=csrf_token %}
        {% endif %}

        {% if object.status != object.OrderStatus.DRAFT %}
            {% url 'staff:order-to-draft' pk=object.id as to_draft_url %}
            {% action-button action=to_draft_url class="bg-secondary text-white" submit_text="Convert to draft" csrf_token=csrf_token %}
        {% endif %}


        {% if object.next_status %}
            {% url 'staff:order-to-next-status' pk=object.id as to_next_status_url %}
            {% with "Set as "|add:object.next_status as btn_name %}
                {% action-button action=to_next_status_url class="bg-secondary text-white" submit_text=btn_name csrf_token=csrf_token %}
            {% endwith %}
        {% endif %}
    </div>
{% endblock %}
