{% extends "staff/base.html" %}
{% load i18n %}
{% load next_input %}

{% block content %}
    <h3 class="text-4xl mb-5">Project {{ object }}</h3>
    <div class="flex gap-5 mb-5"></div>

    <div class="flex gap-5 my-5">
        <a class="btn btn-tertiary" href="{% url 'staff:projects-list' %}"><i class="fas fa-arrow-left"></i> Back</a>
        {% url 'staff:projects-verify' pk=object.pk as verify_url %}
        <form method="post" action="{{ verify_url }}">
            {% csrf_token %}
            {% next_url_input %}
        {% if not object.verified_at %}
            <button type="submit" class="btn bg-[#dff7ca]">
                <i class="fa-solid fa-circle-check"></i> Mark as verified
            </button>
        {% endif %}
    </div>

    {% object-detail-staff object=object %}

{% endblock %}
