{% extends "staff/base.html" %}
{% load i18n %}


{% block content %}
    <h3 class="text-4xl mb-5">Project {{ object }}</h3>
    <div class="flex gap-5 mb-5"></div>

    <div class="flex gap-5 my-5">
        <a class="btn custom_order_button" href="{% url 'staff:projects-list' %}"><i class="fas fa-arrow-left"></i> Back</a>
        {% url 'staff:projects-verify' pk=object.pk as verify_url %}
        {% if object.verified_at is null %}
            {% action-button action=verify_url class="btn-secondary text-white" submit_text="Mark as verified" csrf_token=csrf_token %}
        {% endif %}
    </div>

    {% object-detail object=object %}

{% endblock %}
