{% extends "staff/base.html" %}
{% load crispy_forms_tags static %}
{% load render_table from django_tables2 %}
{% load next_input %}

{% block content %}
{% if order %}
<div class="flex gap-5 mb-5">
    <a class="btn btn-sm btn-tertiary" href="../"><i class="fas fa-arrow-left"></i> Back</a>
</div>
{% endif %}
<h3 class="text-4xl mb-5">{% block page-title %}{% if order %}Samples {{ order }}{% else %}Samples{% endif %}{% endblock page-title %}</h3>
{% block page-inner %}
{% filtering filter=filter request=request %}
<div class="mt-6"></div>

<form method="post" action="{% url 'staff:order-analysis-samples' order.pk %}">
    {% csrf_token %}
    {% next_url_input %}
    <h1 class="ml-2 mb-1 font-medium">Actions</h1>
    <h3 class="ml-2 mb-2 font-light text-tertiary-900">Select samples to toggle status</h3>
    {% for status in statuses %}
        <button class="btn btn-sm btn-success" type="submit" name="status" value="{{ status }}">
            {% if status == "pcr" %}
                PCR
            {% else %}
            {{ status|capfirst }}
            {% endif %}
        </button>
    {% endfor %}
    <div class="mt-3">
        {% render_table table %}
    </div>
</form>
{% endblock page-inner %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const selectAll = document.getElementById('select-all-checkbox');
        const noteInputs = document.querySelectorAll('.internal_note-input');

        selectAll?.addEventListener('change', function() {
            const checkboxes = document.querySelectorAll(`input[name="checked-analysis-{{ order.pk }}"]`);
            checkboxes.forEach((cb) => {
                cb.checked = selectAll.checked;
            })
        });

        let debounceTimeout;
        noteInputs.forEach(function (noteInput) {
            noteInput.addEventListener("input", function (event) {
                const sampleId = event.target.dataset.sampleId;
                const value = event.target.value;
                const formData = new FormData();
                formData.append("sample_id", sampleId);
                formData.append("field_name", "internal_note-input");
                formData.append("field_value", value);
                formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");

                const spinner = document.getElementById(`internal_note-spinner-${sampleId}`);
                const checkIcon = document.getElementById(`internal_note-check-${sampleId}`);
                checkIcon.style.visibility = "hidden";
                spinner.style.visibility = "visible";

                clearTimeout(debounceTimeout);
                debounceTimeout = setTimeout(function () {
                    fetch("{% url 'staff:update-internal-note' %}", {
                        method: "POST",
                        body: formData
                    });
                    spinner.style.visibility = "hidden";
                    checkIcon.style.visibility = "visible";
                    setTimeout(function () {
                        checkIcon.style.visibility = "hidden";
                    }, 5000);
                }, 1500);
            });
        });
    });
</script>
{% endblock content %}
