{% extends "staff/base_filter.html" %}
{% load crispy_forms_tags static %}
{% load render_table from django_tables2 %}

{% block page-title %}
<div class="flex justify-between items-center w-full">
    <div>
        {% if order %}
            {{ order }} - Samples
        {% else %}
            Samples
        {% endif %}
    </div>
</div>
{% endblock page-title %}

{% block page-inner %}
{% if order %}
  <div class="flex gap-5 mb-5">
      <a class="btn custom_order_button" href="../"><i class="fas fa-arrow-left"></i> Back</a>
      <a class="btn custom_order_button" href="{% url 'staff:order-extraction-samples-lab' order.pk %}"><i class="fas fa-flask"></i> Lab</a>
      {% if order.status == order.OrderStatus.DELIVERED and order.internal_status == "checked" %}
        {% url 'staff:order-to-next-status' pk=order.pk as to_next_status_url %}
        {% action-button action=to_next_status_url class="bg-secondary text-white" submit_text="Set as processing" csrf_token=csrf_token %}
      {% endif %}
  </div>

  {% comment %} <form method="get" class="py-3 px-4 border mb-3 ">
    <div class="flex flex-wrap gap-4">
        {{ filter.form | crispy }}
    <button class="btn custom_order_button_blue" type="submit" style="margin-top: 1.7rem;">Search</button>
    </div>
  </form> {% endcomment %}

  <form method="post" action="{% url 'staff:generate-genlab-ids' pk=order.pk %}">
      {% csrf_token %}
      <input type="hidden" name="sort" value="{{ request.GET.sort|default:'' }}">
      <div class="flex gap-5 mb-5">
        <button class="btn custom_order_button_green" type="submit" name="generate_genlab_ids">
            <i class="fa-solid fa-id-badge"></i> Generate genlab IDs
        </button>
        <a class="btn custom_order_button_blue" href="{% url 'samples-csv' %}?order={{ order.pk }}"><i class="fas fa-download"></i> Download CSV</a>

        <div class="ml-auto text-right w-full max-w-xs">
          <div class="mb-1 font-medium text-sm">
            {{ order.filled_genlab_count }} / {{ order.samples.count }} samples with genlabID
          </div>
          <div class="w-full bg-gray-200 h-2 rounded">
            <div class="bg-green-300 h-2 rounded" style="width:{{ progress_percent|default:0|floatformat:0 }}%;"></div>
          </div>
        </div>
      </div>

      {% render_table table %}
  </form>

  <form id="prioritise-form" method="post" action="{% url 'staff:order-extraction-samples' pk=order.pk %}" style="display:none;">
    {% csrf_token %}
    <input type="hidden" name="sample_id" id="prioritise-sample-id">
  </form>
{% endif %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
      document.querySelectorAll('.toggle-prioritise').forEach(btn => {
        btn.addEventListener('click', function () {
          const sampleId = this.dataset.sampleId;
          const form = document.getElementById('prioritise-form');
          form.querySelector('#prioritise-sample-id').value = sampleId;
          form.submit();
        });
      });
    });
</script>
{% endblock %}
