{% extends "staff/base_filter.html" %}
{% load crispy_forms_tags static %}
{% load render_table from django_tables2 %}
{% load next_input %}

{% block page-upper %}

  <div class="flex gap-5 {% if order %}mb-5{% endif %}">

    {% if order %}
      <a class="btn btn-sm btn-tertiary" href="../"><i class="fas fa-arrow-left"></i> Back</a>
    {% endif %}

    <div class="ml-auto"></div>

    {% if user.is_staff %}

      {% if order %}
        <a class="btn btn-sm btn-tertiary" href="{{ order.get_admin_samples_url }}"><i class="fa-solid fa-shield-halved"></i> Samples (admin)</a>
        <a class="btn btn-sm btn-tertiary" href="{{ order.get_admin_change_url }}"><i class="fa-solid fa-shield-halved"></i> Extraction order (admin)</a>
      {% else %}
        {% if view.model.get_admin_changelist_url %}
          <a class="btn btn-sm btn-tertiary" href="{{ view.model.get_admin_changelist_url }}"><i class="fa-solid fa-shield-halved"></i> All samples (admin)</a>
        {% endif %}
      {% endif %}

    {% endif %}

  </div>
{% endblock page-upper %}


{% block page-title %}
Samples {{ order }}
{% endblock page-title %}

{% block page-inner %}
{% if order %}
  {% include "staff/components/extraction_tabs.html" with order=order active_tab="ordered" %}

  {% filtering filter=filter request=request %}

  <div class="mt-6"></div>

  <form method="post" action="{% url 'staff:generate-genlab-ids' pk=order.pk %}">
      {% csrf_token %}
      <input type="hidden" name="sort" value="{{ request.GET.sort|default:'' }}">
      {% next_url_input %}
      <h1 class="ml-2 mb-1 font-medium">Actions</h1>
      <h3 class="ml-2 mb-2 font-light text-tertiary-900">Select samples to generate genlabID</h3>
      <div class="flex gap-5 mb-5">
        <button class="btn btn-success" type="submit" name="generate_genlab_ids">
            <i class="fa-solid fa-id-badge"></i> Generate genlab IDs
        </button>
        <a class="btn btn-primary" href="{% url 'samples-labels-csv' %}?order={{ order.pk }}"><i class="fas fa-download"></i> Export to genlabID printer</a>

        <div class="ml-auto text-right w-full max-w-xs">
          <div class="mb-1 font-medium text-sm">
            {{ order.filled_genlab_count }} / {{ order.samples.count }} samples with genlabID
          </div>
          <div class="w-full bg-gray-200 h-2 rounded">
            <div class="bg-[#C9EBB0] h-2 rounded" style="width:{{ progress_percent|default:0|floatformat:0 }}%;"></div>
          </div>
        </div>
      </div>

      {% render_table table %}
  </form>

{% else %}

{% filtering filter=filter request=request %}
<input type="hidden" name="sort" value="{{ request.GET.sort|default:'' }}">

{% render_table table %}
{% endif %}
{% endblock %}
