{% extends "staff/base.html" %}
{% load i18n %}


{% block content %}


  <div class="flex gap-5 mb-5">

    <a class="btn btn-sm custom_order_button" href="../"><i class="fas fa-arrow-left"></i> <span class="font-normal">Back</span></a>

    <div class="ml-auto"></div>

    {% if user.is_staff %}

    <a class="btn btn-sm btn-tertiary" href="{{ sample.order.get_admin_change_url }}"><i class="fa-solid fa-shield-halved"></i> Extraction order (admin)</a>
    <a class="btn btn-sm btn-tertiary" href="{{ sample.get_admin_change_url }}"><i class="fa-solid fa-shield-halved"></i> Edit (admin)</a>

    {% endif %}

  </div>

    <h3 class="text-4xl mb-5">Sample {{ object }}</h3>
    <div class="flex gap-5 mb-5"></div>

    {% object-detail-staff object=object %}

{% endblock %}
