{% extends "staff/base.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags static %}
{% load next_input %}

{% block content %}
<div class="flex gap-5 mb-10 items-center w-full">
    <a class="btn btn-sm font-normal custom_order_button" href="../"><i class="fas fa-arrow-left"></i> <span class="font-normal">Back</span></a>
</div>
<h3 class="text-4xl mb-5">{% block page-title %}{% if order %}Samples {{ order }}{% else %}Samples{% endif %}{% endblock page-title %}</h3>
{% block page-inner %}
    {% include "staff/components/extraction_tabs.html" with order=order active_tab="lab" %}

    <form method="get" class="py-3 px-4 border mb-5 ">
        <div class="mb-2">
            <span class="text-xl">Filters</span>
        </div>
        <div class="flex flex-wrap gap-4">
            {{ filter.form | crispy }}
            <div class="flex items-center gap-2">
                <button class="btn btn-sm custom_order_button_blue" type="submit">
                    <i class="fa-solid fa-filter"></i>
                    Apply filters
                </button>
                <a href="{{ request.path }}" class="btn btn-sm custom_order_button">Clear all</a>
            </div>
        </div>
    </form>

    <div class="mt-6"></div>

    <form method="post" action="{% url 'staff:order-extraction-samples-lab' order.pk %}">
        {% csrf_token %}
        {% next_url_input %}
        {% for status in statuses %}
            <button class="btn btn-sm custom_order_button_green" type="submit" name="status" value="{{ status }}">
                {{ status|capfirst }}
            </button>
        {% endfor %}
        <div class="inline-block text-left mb-5">
            <button type="button"
                id="parent-dropdown-button"
                onclick="document.getElementById('parent-dropdown-menu').classList.toggle('hidden')"
                class="btn btn-sm bg-slate-100 px-4 custom_order_button">
            <span id="selected-method-{{ record.pk }}" class="truncate block w-full text-center">
                {{ record.selected_isolation_method.name|default:"Isolation method" }}
                <i class="fa-solid fa-chevron-down ml-2"></i>
            </span>
            </button>
          <div id="parent-dropdown-menu"
               class="absolute z-10 mt-2 w-100 origin-top-right rounded-md bg-white shadow-lg hidden"
               role="menu" aria-orientation="vertical" aria-labelledby="parent-dropdown-button">
            {% if not isolation_methods %}
              <p class="px-4 py-2 text-sm text-gray-700">No isolation methods available</p>
            {% else %}
              {% for im in isolation_methods %}
                <button
                  type="submit"
                  name="isolation_method"
                  value="{{ im }}"
                class="update-isolation-button block w-full text-left px-4 py-2 text-sm hover:bg-gray-100 text-gray-700"
                role="menuitem"
              >
                {{ im }}
              </button>
            {% endfor %}
            {% endif %}
          </div>
        </div>
        {% render_table table %}
    </form>
{% endblock page-inner %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const selectAll = document.getElementById('select-all-checkbox');
        const noteInputs = document.querySelectorAll('.internal_note-input');

        selectAll?.addEventListener('change', function() {
            const checkboxes = document.querySelectorAll(`input[name="checked-{{ order.pk }}"]`);
            checkboxes.forEach((cb) => {
                cb.checked = selectAll.checked;
            })
        });

        let debounceTimeout;
        noteInputs.forEach(function (noteInput) {
            noteInput.addEventListener("input", function (event) {
                const sampleId = event.target.dataset.sampleId;
                const value = event.target.value;
                const formData = new FormData();
                formData.append("sample_id", sampleId);
                formData.append("field_name", "internal_note-input");
                formData.append("field_value", value);
                formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");

                const spinner = document.getElementById(`internal_note-spinner-${sampleId}`);
                const checkIcon = document.getElementById(`internal_note-check-${sampleId}`);
                checkIcon.style.visibility = "hidden";
                spinner.style.visibility = "visible";

                clearTimeout(debounceTimeout);
                debounceTimeout = setTimeout(function () {
                    fetch("{% url 'staff:update-internal-note' %}", {
                        method: "POST",
                        body: formData
                    });
                    spinner.style.visibility = "hidden";
                    checkIcon.style.visibility = "visible";
                    setTimeout(function () {
                        checkIcon.style.visibility = "hidden";
                    }, 5000);
                }, 1500);
            });
        });
    });
</script>
{% endblock content %}
