{% extends "base.html" %}
{% load neapolitan %}
{% load i18n %}


{% block content %}
    {% if object.short_timeframe %}
    <div class="px-4 alert alert-warning">
    <p>
        Contact <a class="underline" href="mailto:ninagen@nina.no">ninagen@nina.no</a> due to the short timeframe for this project
    </p>
    </div>
    {% endif %}
    {% fragment as table_header %}
    {% #table-cell header=True %}GUID{% /table-cell %}
    {% #table-cell header=True %}Type{% /table-cell %}
    {% #table-cell header=True %}Species{% /table-cell %}
    {% #table-cell header=True %}Markers{% /table-cell %}
    {% #table-cell header=True %}Location{% /table-cell %}
    {% #table-cell header=True %}Date{% /table-cell %}
    {% #table-cell header=True %}Volume{% /table-cell %}
    {% endfragment %}
    <h3 class="text-4xl mb-5">Order {{ object }}</h3>
    <div class="flex gap-5 mb-5">
    </div>

    {% object-detail object=object %}

    {% if results_contacts %}
    <h5 class="text-2xl my-5">Contacts for Analysis Results</h5>
    <div class="bg-white p-4">
        <ul class="list-disc pl-5">
        {% for contact in results_contacts %}
            <li>
            {{ contact.contact_person_results }} —
            <a href="mailto:{{ contact.contact_email_results }}" class="underline text-primary">
                {{ contact.contact_email_results }}
            </a>
            </li>
        {% endfor %}
        </ul>
    </div>
    {% else %}
    <h5 class="text-2xl my-5">Contacts for Analysis Results</h5>
    <div class="bg-white p-4">
        <p>No contacts provided for analysis results.</p>
    </div>
    {% endif %}


    <h5 class="text-2xl my-5">Samples to analyze</h5>
    <div class="bg-white p-4">
        <p>Selected {{ object.samples.count }} samples</p>
    </div>

    <div class="flex gap-5 my-5">
        <a class="btn custom_order_button" href="{% url 'genrequest-order-list' genrequest_id=genrequest.id %}"><i class="fas fa-arrow-left"></i> Back</a>
        {% if object.status == 'draft' %}
        <a class="btn custom_order_button" href="{% url 'genrequest-analysis-update' genrequest_id=object.genrequest_id pk=object.id %}">Edit Order</a>
        {% if not object.from_order %}
            <a class="btn custom_order_button" href="{% url 'genrequest-analysis-samples-edit' genrequest_id=object.genrequest_id pk=object.id %}">Edit Samples</a>
        {% endif %}
        <a class="ml-auto btn custom_order_button" href="{% url 'genrequest-analysis-samples' genrequest_id=object.genrequest_id pk=object.id %}">Summary Samples</a>
        {% url 'genrequest-order-confirm' genrequest_id=object.genrequest_id pk=object.id as confirm_order_url %}
        {% url 'genrequest-order-clone' genrequest_id=object.genrequest_id pk=object.id as clone_order_url %}
        {% action-button action=confirm_order_url class="btn custom_order_button" submit_text="Deliver order" csrf_token=csrf_token %}
        {% action-button action=clone_order_url class="btn custom_order_button" submit_text="Clone Order" csrf_token=csrf_token %}
        {% if all_samples_have_no_genlab_id %}
        <a class="btn custom_order_button_red" href="{% url 'genrequest-analysis-delete' genrequest_id=object.genrequest_id pk=object.id %}">Delete</a>
        {% endif %}
        {% elif object.status == object.OrderStatus.DELIVERED %}
            <a class="btn custom_order_button" href="{% url 'genrequest-analysis-samples' genrequest_id=object.genrequest_id pk=object.id %}">Samples</a>
        {% endif %}
    </div>
{% endblock %}
