{% extends "base.html" %}
{% load i18n %}


{% block content %}

    <h3 class="text-4xl mb-5">Order #{{ object.id }} - {{ object.name }}</h3>
    <div class="flex gap-5 mb-5">
        <a class="btn bg-primary" href="{% url 'project-order-list' project_id=project.id %}"><i class="fas fa-arrow-left"></i> back</a>
    </div>

    {% object-detail object=object %}


    <h5 class="text-2xl mb-5">Samples</h5>

    <div class="flex gap-5">
        <a class="btn bg-primary" href="{% url 'project-analysis-update' project_id=object.project_id pk=object.id %}">Edit</a>
        <a class="btn bg-primary" href="{% url 'project-analysis-samples' project_id=object.project_id pk=object.id %}"> Samples</a>
        <button class="btn bg-secondary">Confirm Order</button>
    </div>
{% endblock %}
