{% extends "genlab_bestilling/base_filter.html" %}
{% load neapolitan %}
{% load render_table from django_tables2 %}

{% block page-title %}Equipment Orders{% if genrequest %} relative to {{ genrequest }}{% endif %}{% endblock page-title %}
{% block page-inner %}
<div class="flex gap-5 mb-5">
    {% if genrequest %}
    <a class="btn btn-tertiary" href="{% url 'genrequest-detail' pk=genrequest.id %}"><i class="fas fa-arrow-left"></i> Back</a>
    <a class="btn btn-success" href="{% url 'genrequest-equipment-create' genrequest_id=genrequest.id %}"><i class="fas fa-plus"></i> Equipment order</a>
    {% endif %}
</div>
{% endblock page-inner %}
