{% extends "base.html" %}
{% load core %}

{% block content %}
    <h3 class="text-4xl mb-5">{% if object.id %}{{ object }}{% else %}Create {{ view.model|verbose_name }}{% endif %}</h3>

    <div class="flex gap-5 mb-5">
        {% if object.id %}
        <a class="btn custom_order_button" href="{% url 'genrequest-extraction-detail' genrequest_id=genrequest.id pk=object.id %}"><i class="fas fa-arrow-left"></i> Back</a>
        {% else %}
        <a class="btn custom_order_button" href="{% url 'genrequest-order-list' genrequest_id=view.kwargs.genrequest_id %}"><i class="fas fa-arrow-left"></i> Back</a>
        {% endif %}
    </div>
    {% formset endpoint=request.path csrf_token=csrf_token form=form %}

{% endblock %}
