{% extends "base.html" %}
{% load core %}
{% load i18n %}

{% block content %}
<div class="flex items-center mb-5 gap-2">
  <h3 id="genrequest" class="text-4xl">{{ object.project_id }} - {{ object.name|default_if_none:"Unnamed" }} </h3>
</div>

{% if object.short_timeframe %}
<div class="px-4 alert alert-warning">
  <p>
    Contact <a class="underline" href="mailto:ninagen@nina.no">ninagen@nina.no</a> due to the short timeframe for this project
  </p>
</div>
{% endif %}

<div class="flex gap-5 my-5">
  <a class="btn btn-tertiary" href="{% url 'genrequest-list' %}"
    ><i class="fas fa-arrow-left"></i> Back</a
  >
  <a class="btn btn-tertiary" href="{% url 'genrequest-update' pk=genrequest.id %}"
    ><i class="fas fa-edit"></i> Edit</a
  >
  <a
    class="btn btn-tertiary"
    href="{% url 'genrequest-order-list' genrequest_id=genrequest.id %}"
    ><i class="fas fa-eye"></i> Orders</a
  >
  <a
    class="btn btn-success"
    href="{% url 'genrequest-equipment-create' genrequest_id=genrequest.id %}"
    ><i class="fas fa-plus"></i> Equipment order</a
  >
  <a
    class="btn btn-success"
    href="{% url 'genrequest-extraction-create' genrequest_id=genrequest.id %}"
    ><i class="fas fa-plus"></i> Extraction order</a
  >
  <a
    class="btn btn-success"
    href="{% url 'genrequest-analysis-create' genrequest_id=genrequest.id %}"
    ><i class="fas fa-plus"></i> Analysis order</a
  >

  <a
    class="btn "
    href="{% url 'genrequest-delete' pk=genrequest.id %}"
    ><i class="fas fa-trash"></i> Delete</a
  >

  {% if user.is_staff %}
  <a class="btn btn-tertiary ml-auto" href="{% url 'staff:add-staff' pk=genrequest.id model_type="genrequest" %}">
    <input type="hidden" name="type" value="genrequest">
    <i class="fa-solid fa-id-badge"></i> Assign staff
  </a>
  {% endif %}
</div>

<div>
  {% object-detail object=object %}
</div>
{% endblock %}
