{% extends "genlab_bestilling/base_filter.html" %}
{% load neapolitan %}
{% load render_table from django_tables2 %}

{% block page-upper %}
  {% if user.is_staff %}
      <div class="flex gap-5">
        <div class="ml-auto"></div>
        <a class="btn btn-sm btn-tertiary" href="{{ view.model.get_admin_changelist_url }}"><i class="fa-solid fa-shield-halved"></i> All genetic projects (admin)</a>
      </div>
  {% endif %}
{% endblock page-upper %}

{% block page-title %}Genetic Project{% endblock page-title %}

{% block page-inner %}
  <div class="flex gap-5 mb-5">
      <a class="btn custom_order_button_green" href="{% url 'genrequest-create' %}"><i class="fas fa-plus"></i> Project</a>
  </div>
{% endblock page-inner %}
