{% extends "genlab_bestilling/base_filter.html" %}
{% load neapolitan %}
{% load render_table from django_tables2 %}

{% block page-upper %}
  {% if user.is_staff %}
      <div class="flex gap-5">
        <div class="ml-auto"></div>

        {% if genrequest %}
          <a class="btn btn-sm btn-tertiary" href="{{ genrequest.get_admin_orders_url }}"><i class="fa-solid fa-shield-halved"></i> Orders (admin)</a>
          <a class="btn btn-sm btn-tertiary" href="{{ genrequest.get_admin_change_url }}"><i class="fa-solid fa-shield-halved"></i> Genetic project (admin)</a>
        {% else %}
          <a class="btn btn-sm btn-tertiary" href="{{ view.model.get_admin_changelist_url }}"><i class="fa-solid fa-shield-halved"></i> All orders (admin)</a>
        {% endif %}
      </div>
  {% endif %}
{% endblock page-upper %}

{% block page-title %}{% if genrequest %}Orders relative to {{ genrequest }}{% else %}Orders{% endif %}{% endblock page-title %}

{% block page-inner %}
  {% if genrequest %}
    <div class="flex gap-5 mb-5">
      <a class="btn custom_order_button" href="{% url 'genrequest-detail' pk=genrequest.id %}"><i class="fas fa-arrow-left"></i> Back</a>
      <a class="btn custom_order_button_green" href="{% url 'genrequest-equipment-create' genrequest_id=genrequest.id %}"><i class="fas fa-plus"></i> Equipment order</a>
      <a class="btn custom_order_button_green" href="{% url 'genrequest-extraction-create' genrequest_id=genrequest.id %}"><i class="fas fa-plus"></i> Extraction order</a>
      <a class="btn custom_order_button_green" href="{% url 'genrequest-analysis-create' genrequest_id=genrequest.id %}"><i class="fas fa-plus"></i> Analysis order</a>
    </div>
  {% endif %}
{% endblock page-inner %}
