{% extends "base.html" %}
{% load neapolitan %}
{% load render_table from django_tables2 %}

{% block content %}
    <h3 class="text-4xl mb-5">Orders relative to {{ genrequest }}</h3>
    <div class="flex gap-5 mb-5">
        <a class="btn bg-primary" href="{% url 'genrequest-detail' pk=genrequest.id %}"><i class="fas fa-arrow-left"></i> back</a>
        <a class="btn bg-primary" href="{% url 'genrequest-equipment-create' genrequest_id=genrequest.id %}"><i class="fas fa-plus"></i> Equipment order</a>
        <a class="btn bg-primary" href="{% url 'genrequest-extraction-create' genrequest_id=genrequest.id %}"><i class="fas fa-plus"></i> Extraction order</a>
        <a class="btn bg-primary" href="{% url 'genrequest-analysis-create' genrequest_id=genrequest.id %}"><i class="fas fa-plus"></i> Analysis order</a>
    </div>

    {% render_table table %}
{% endblock %}
