{% extends "base.html" %}
{% load neapolitan %}
{% load render_table from django_tables2 %}

{% block content %}
    <h3 class="text-4xl mb-5">Samples for Extraction #{{ view.kwargs.pk }}</h3>
    {% render_table table %}
    <div class="flex gap-5 mt-5">
        <a class="btn bg-yellow-200" href="{% url 'genrequest-extraction-detail' genrequest_id=genrequest.id pk=view.kwargs.pk %}"><i class="fas fa-arrow-left"></i> back to order</a>
        {% if extraction.status == 'draft' %}
        {% url 'genrequest-order-confirm' genrequest_id=view.kwargs.genrequest_id pk=view.kwargs.pk as confirm_order_url %}
        {% action-button action=confirm_order_url class="bg-secondary text-white" submit_text="Confirm Order" csrf_token=csrf_token %}
        <a class="ml-auto btn bg-blue-300" href="{% url 'genrequest-extraction-samples-edit' genrequest_id=genrequest.id pk=view.kwargs.pk %}">edit samples</a>
        {% endif %}

        {% if object.status != 'draft' %}
        <a class="btn bg-primary" href="{% url 'genrequest-analysis-create' genrequest_id=object.genrequest_id %}">Analyze this samples</a>
        {% endif %}
    </div>
{% endblock %}
