{% extends "base.html" %}
{% load core %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block content %}
<div class="flex items-center mb-5 gap-2">
  <h3 id="genrequest" class="text-4xl">{{ object }}</h3>
</div>

{% if not object.verified_at %}
<div class="alert alert-warning">
  The project number needs to be verified by the NINAGEN staff before you can start creating orders for this project.
</div>
{% endif %}

<div class="flex gap-5 my-5">
  <a class="btn custom_order_button" href="{% url 'nina:project-list' %}"
    ><i class="fas fa-arrow-left"></i> Back</a
  >
  <a class="btn custom_order_button" href="{% url 'nina:project-edit' pk=object.pk %}"
    ><i class="fas fa-edit"></i> Edit</a
  >
  <a class="btn custom_order_button" href="{% url 'nina:project-members-edit' pk=object.pk %}"
    ><i class="fas fa-edit"></i> Members</a
  >
  {% if object.verified_at %}
  <a class="btn custom_order_button_blue" href="{% url 'genrequest-list' %}?project={{object.pk}}"
    ><i class="fas fa-folder"></i> Genetic projects</a
  >
    {% if object.active %}
    <a class="btn custom_order_button_green" href="{% url 'genrequest-create' %}?project={{object.pk}}"
      ><i class="fas fa-plus"></i> New Genetic project</a
    >
    {% endif %}
  {% endif %}
</div>

<div>
  {% object-detail object=object %}

  <div class="mt-5">
    <h4 class="text-3xl">Members</h4>

    {% render_table table %}
  </div>
</div>
{% endblock %}
